body {
  font-family: "Arimo", sans-serif;
}
.hero {
  background-image: url("./assets/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 24%;
}

.gradient-text {
  background: linear-gradient(to right, #9810fa, #e60076);
  /* width: 21%; */
  background-clip: text;
  color: transparent;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .hero {
    background-position: 10%;
  }
}
